@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model onliga.Models.Book

@{
    ViewData["Title"] = "Create";
    Layout = "../../Pages/Shared/_Layout";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea cols="20" rows="2" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-select"></label>
                <select class="form-select" asp-for="Genre" aria-label="Genre">
                    <option selected value="Action">Action</option>
                    <option value="Comedy">Comedy</option>
                    <option value="Comedy">Shonen</option>
                    <option value="Comedy">Shojo</option>
                    <option value="Romantic Comedy">Romantic Comedy</option>
                    <option value="Comedy">Seinen</option>
                </select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section flash {
<script type="text/javascript">
    $(document).ready(function () {
        getInfo();
    });
</script>
}