@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Welcome";
    Layout = "../../Pages/Shared/_Layout";
}

<div>
    <div id="getme">@ViewData["pro"]</div>

    <table class="table table-bordered table-condensed">
        <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>
                <a href="#">@String.Format("{0} {1}", "Mathieu", "Burnat")</a>
            </td>
            <td>
                IT
            </td>
            <td>@Html.ActionLink("Edit", "edit", new { id = 1 })</td>
        </tr>
    </table>

    <form asp-action="test">
        <input type="submit" value="test" class="btn btn-danger" />
    </form>
    
    <script type="text/javascript" defer="defer">
        @Html.Raw(ViewBag.StartupScript)
    </script>

</div>

@section flash {
    <script type="text/javascript">
        $(document).ready(function(){
            $('table a').click(function () {
                if($('#getme').text() == "works"){
                    FlashMessage("Hellow There", "success");
                }else{
                    FlashMessage("meh", "warning");
                }
            });
        });
    </script>
}