@page
@using onliga.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center center">
    <div class="card center" style="width: 60%; display: block; margin-left: auto; margin-right: auto;">
        <img class="card-img-top" src="https://www.rts.ch/2021/09/01/12/03/12459012.image?w=1280&h=720"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Bienvenue chez Onliga 📚</h5>
            <p class="card-text">Onliga est une mangathèque en ligne qui vous permettra d'accéder à tous vos mangas
                préférés en ligne</p>
            <partial name="_checkIfUserIsConnected.cshtml" model=User/>
    </div>
</div>
