@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<blockquote class="blockquote text-center">
  <p class="mb-5">Hey ! This project has been created during my courses at the CPNV. I hope you're enjoying it 😎</p>
  <footer class="blockquote-footer"> Mathieu B</footer>
</blockquote>

<p>Oh.. You also can access to the repos of this project <a href="https://github.com/MathieuBurnat/onliga">here</a> ! </p>
